name: Spell Check

on:
  push:
    branches: [ main ]

jobs:
  spellcheck:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Spellcheck
      uses: rojopolis/spellcheck-github-actions@v0
      with:
        config: .spellcheck.yml
